{%- assign p = include.post -%}

{%- assign title_tag_a = false -%}
{%- assign title_link = '' -%}
{%- assign title_suffix = '' -%}

{%- if p.link -%}
    {%- assign title_tag_a = true -%}
    {%- assign title_link = p.link -%}
    {%- assign title_suffix = '→' -%}
{%- else -%}
    {%- if p.url == page.url -%}
        {%- assign title_tag_a = false -%}
    {%- else -%}
        {%- assign title_tag_a = true -%}
        {%- assign title_link = p.url -%}
    {%- endif -%}
{%- endif -%}

{%- assign date_format = site.minimaal.date_format | default: "%A, %d %B %Y" -%}

{% capture i18n_date %}
{%- assign lang = p.lang | site.lang -%}
{%- assign a = page.date | date: "%w" -%}
{{- site.data[lang].dayoftheweek[w] -}},
{{ page.date | date: "%-d" }}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data[lang].months[m] }}
{{ page.date | date: "%Y" }}
{% endcapture %}

<article class='mv6
                nested-links nested-copy-line-height'>
    <!-- heading -->
    <header>
        <h1 class='f4 brand-dark-color lh-title'>

            {%- if title_tag_a -%}
                <a class='link underline-hover' href='{{ title_link | relative_url }}'>
            {%- endif -%}

                {{ p.title | escape }} {{ title_suffix }}
            
            {%- if title_tag_a -%}
                </a>
            {%- endif -%}

        </h1>
        <div class="gray f6">
            <time datetime={{ p.date | date_to_xmlschema }}>{{ p.date | date: date_format }}</time>
            <time datetime={{ p.date | date_to_xmlschema }}>{{ i18n_date }}</time>
            {%- if p.author -%}
                . Door: 
            {% endif %}
        {%- for a in p.author -%}
            <span>{{ a }}</span>
            {%- unless forloop.last -%}, {% endunless %}
            {%- if forloop.last -%}. {% endif %}
        {%- endfor -%}
        </div>
    </header>
    <main>
        {%- if p.intro -%}<p class='measure f4'> {{ p.intro }} </p>{%- endif -%}
        <!-- contents -->
        {{ p.content }}
    </main>
    <footer class='mv2'>
        <!-- permalink -->
        <a class='gray' href='{{ p.url | relative_url }}'># Permalink</a>
    </footer>
</article>
