{% comment %}
This layout contains:
  - DOCTYPE
  - <html>
  - { render metadata <head> }
  - <body>
  - { render site <header> }
  - <main>
  - { contentss }
  - { render site <footer> }
{% endcomment %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
     class="bg-brand-light-color h-100">

  {%- include head.html -%}

  <body class='sans-serif 
               w-100 h-100 
               near-black'>
    
    <div class="skip-link">
      <a href="#page-content-main">Skip to content</a>
    </div>

    {%- include header.html -%}

    {% assign path_cls = page.url | replace: '/', '-' %}
    <main id='page-content-main' 
          class='page-content bg-white pb4 t--{{path_cls}}'
          aria-label="Content">
      <div class="pa2 pl0-l
                  center mw7">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
